#map { 
    height: 500px; 
}

table, th, td {
    border-collapse: collapse;
    padding: 10px;
}

td img {
    max-width: 100%;
    max-height: 35px;
    width: 100%;
    height: auto;
    object-fit: contain;
}


tbody:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

th {
    background-color: rgb(214, 79, 79);
    color: white;
    text-align: left;
}

td {
    padding-right: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#dynamic-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#dynamic-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    text-align: center;
}

#popup-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reportImg {
    width: 300px;
    height: 300px;
}