/* Global Reset */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/* Topnav */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Map */
#map { 
    height: 500px; 
}

/* Report List */
table.report_list {
    width: 100%;
}

table.report_list, 
table.report_list th, 
table.report_list td {
    border-collapse: collapse;
    padding: 10px;
    border: 2px solid white;
}

table.report_list th {
    background-color: rgb(214, 79, 79);
    color: white;
    text-align: left;
}

table.report_list td {

}

table.report_list td:last-child,
table.report_list th:last-child {
    min-width: 60px;
    max-width: 10%;
    text-align: center;
    padding: 0;
}

table.report_list tbody:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

table.report_list img {
    max-width: 100%;
    max-height: 35px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

table.report_list td button {
    width: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Details Popup */
div.details {
    overflow-x: auto;
    border: 2px solid white;
    margin: 20px 0;
}

div.details > * {
    padding: 0 10px;
}

div.details h3 {
    padding: 10px;
    color: white;
    background-color: rgb(214, 79, 79);
    margin: 0;
    min-width: 300px;
}

div.details img {
    min-width: 300px;
    max-width: 90%;
    margin: 10px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 5px;
}

div.details button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 15px 0 12px;
    width: 75px;
}

/* Remove Report Popup */
#dynamic-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#dynamic-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    text-align: center;
}

#dynamic-popup h2 {
    margin: 15px 0;
}

#popup-button {
    margin: 15px 15px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}